<div>
  <div class="top-container">
    <div class="middle-container">     
      <div class="inner-container">
        <label for="business">Business Unit</label>
        <div>
          <select class="dropdown selectmain" name="business" id="cars">
            <option value="infoways">Infoways</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select>
        </div>
        <div class="innerDetails">
          <h3>Job Details</h3>

          <div class="flexContainer">
            <div class="one">
              <div class="item">
                <div class="boot input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping"
                    >Job Code *</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    aria-label="Username"
                    aria-describedby="addon-wrapping"
                  />
                </div>
              </div>
              <div class="item">
                <div class="boot input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping"
                    >Job Title *</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    aria-label="Username"
                    aria-describedby="addon-wrapping"
                  />
                </div>
              </div>
              <div class="item">
                <label class="labelname" for="bill"
                  >Current Bill Rate/Salary *</label
                >
                <br />
                <div class="one">
                  <select class="select" name="bill">
                    <option value="usd">USD</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                  </select>

                  <input
                    type="text"
                    class="form-control inputfield"
                    placeholder="Username"
                    aria-label="Username"
                    aria-describedby="addon-wrapping"
                  />

                  <select class="select" name="bill">
                    <option value="">Select</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                  </select>
                  <select class="select" name="bill">
                    <option value="">Select</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="two">
              <div class="item">
                <label class="labelname" for="rate">Pay Rate/Salary *</label>
                <div class="payrate">
                  <div>
                    <select class="select" name="bill">
                      <option value="usd">USD</option>
                      <option value=""></option>
                      <option value=""></option>
                      <option value=""></option>
                    </select>
                    <input type="text" class="inputfield" />
                    <input type="text" class="inputfield" />
                  </div>
                  <div>
                    <select class="select" name="bill">
                      <option value="">Select</option>
                      <option value=""></option>
                      <option value=""></option>
                      <option value=""></option>
                    </select>
                    <select class="select" name="bill">
                      <option value="">Select</option>
                      <option value=""></option>
                      <option value=""></option>
                      <option value=""></option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="item">
                <label class="labelname" for="job">Remote Job</label>
                <div class="checkboxx">
                  <div>
                    <input type="checkbox" id="'yes" />
                    <label class="option" for="yes">yes</label>
                  </div>
                  <div>
                    <input type="checkbox" id="no" />
                    <label class="option" for="no">no</label>
                  </div>
                  <div>
                    <input type="checkbox" id="hybrid" />
                    <label class="option" for="hybrid">Hybrid</label>
                  </div>
                </div>
              </div>
              <div class="item">
                <label class="labelname" for="states">States *</label> <br />
                <select class="selectmain" name="states">
                  <option value="">Select</option>
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
            </div>
            <div class="three">
              <div class="item">
                <div class="boot input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping"
                    >Location *</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    aria-label="Username"
                    aria-describedby="addon-wrapping"
                  />
                </div>
              </div>
              <div class="item">
                <label class="labelname" for="jobstatus">Job Status *</label>
                <br />
                <select class="selectmain" name="jobstatus">
                  <option value="">Select</option>
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
              <div class="item">
                <label class="labelname" for="jobtype">Job Type </label> <br />
                <select class="selectmain" name="jobtype">
                  <option value="">Select</option>
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
            </div>
            <div class="four">
              <div class="item">
                <label class="labelname" for="client">Client * </label> <br />
                <select class="selectmain" name="client">
                  <option value="">Select</option>
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
              <div class="item">
                <label class="labelname" for="clientm">Client Manager * </label>
                <br />
                <select class="selectmain" name="clientm">
                  <option value="">Select</option>
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
              <div class="item">
                <div class="boot input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping">BR#</span>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    aria-label="Username"
                    aria-describedby="addon-wrapping"
                  />
                </div>
              </div>
            </div>

            <div class="five">
              <div class="item">
                <div class="boot input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping"
                    >Duration *</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    aria-label="Username"
                    aria-describedby="addon-wrapping"
                  />
                </div>
              </div>
              <div class="item">
                <label class="labelname" for="work">Work Authorization * </label
                ><br />
                <select class="selectmain" name="work">
                  <option value="">Select</option>
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
              </div>
              <div class="item">
                <div class="boot input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping"
                    >Interview Mode *</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder=""
                    aria-label="Username"
                    aria-describedby="addon-wrapping"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="inner-container">
          <h3>Skills</h3>
          <div class="item">
            <div class="boot input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping"
                >Primary Skills</span
              >
              <input
                type="text"
                class="form-control"
                placeholder=""
                aria-label="Username"
                aria-describedby="addon-wrapping"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
